@{
    ViewBag.Title = "后台 | 博文列表";
}

@section headScript{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#AdminArchives').addClass('active');

            // alert('进来了吗');  //为什么放在单独的js文件中会乱码
            $('#archives-table').dataTable({
                "oLanguage": {
                    //国际化
                    "sProcessing": "<img src='/Content_Admin/img/spinner.gif'>  努力加载数据中...",
                    "sLengthMenu": "每页显示&nbsp;_MENU_ &nbsp;条结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "总共_PAGES_ 页，显示第_START_ 到第 _END_ ，筛选之后得到 _TOTAL_ 条，初始_MAX_ 条 ",
                    "infoEmpty": "0条记录", //筛选为空时左下角的显示"
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从_MAX_条数据中检索)",//筛选之后的左下角筛选提示，
                    "sZeroRecords": "没有检索到数据",
                    //"sSearch": '<span class="label label-success">&nbsp;搜索&nbsp;</span>'
                },

                //"bServerSide": false,  //第一种场景:服务端一次性取出所有数据,完全由客户端来处理这些数据.此时为false
                "bServerSide": true,  //第二种场景:服务端处理分页后数据,客户端呈现,此时为true.但此时aoColumns要变,将'sName'换成mDataProp,同时自定义列也要有对应的数据
                "sServerMethod": "GET",
                "sAjaxSource": "/Admin/AdminArchives/GetArchivesJson", //ajax Url地址
                "bProcessing": true,

                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,  //客户端传给服务器的参数为sSearch
                'bFilter': false,
                //'bsearch':true,
                'bLengthChange': true,
                'aLengthMenu': [
                     [10, 15, 20, -1],
                     [10, 15, 20, "全部"] // change per page values here
                ],

                'iDisplayLength': 10,  //每页显示10条记录
                'bAutoWidth': true,
                "scrollX": true,

                "aoColumns": [
                     { "sWidth": "5%", "mDataProp": "Id" },
                     {
                         "sWidth": "40%",
                         "mDataProp": "Title",
                         "mRender": function (data, type, row) {
                             return '<a target="_blank" href="/Archives/Index/' + row.Id + '\">' + data + '</a>';
                         }
                     },
                     { "sWidth": "10%", "mDataProp": "CategoryName" },
                     { "sWidth": "6%", "mDataProp": "ViewCount", "bStorable": true },
                     { "sWidth": "6%", "mDataProp": "CommentCount", "bStorable": true },
                     { "sWidth": "6%", "mDataProp": "Digg", "bStorable": true },
                     {
                         "sWidth": "6%",
                         "mDataProp": "Status",
                         "mRender": function (data, type, row) {
                             var value = "已发布";
                             if (data == "0")
                                 value = "禁用";
                             return value;
                         }
                     },
                     { //自定义列 : 启用/禁用
                         "mDataProp": "null",
                         "sWidth": "6%",
                         "bSearchable": false,
                         "bStorable": false,
                         "mRender": function (data, type, row) {
                             var actionstr = '<a id="publicarticle" class="publicaction"  target-id="' + row.Id + '" href="#">发 布</a>';
                             if (row.Status == "1")
                                 actionstr = '<a id="delarticle" class="delaction" target-id="' + row.Id + '" href="#">禁 用</a>';
                             return actionstr;
                         }
                     },
                    { //自定义列 : 真删除
                        "mDataProp": "null",
                        "sWidth": "6%",
                        "bSearchable": false,
                        "bStorable": false,
                        "mRender": function (data, type, row) {
                            return '<a id="realdelarticle"  class="tip" target-id="' + row.Id + '" href="#"><i class="icon-remove"></i></a>';
                        }
                    },
                     { //自定义列：编辑
                         "mDataProp": "null",
                         "sWidth": "6%",
                         "bSearchable": false,
                         "bStorable": false,
                         "mRender": function (data, type, row) {
                             return '<a class="tip" href="/Admin/AdminArchives/EditArchive/' + row.Id + '"><i class="icon-pencil"></i></a>';
                         }
                     }
                ],

                //"fnInitComplete": function (setting, json) {
                //    //alert('初始化结束');
                //    //初始化完成之后替换原先的搜索框。
                //    //本来想把form标签放到hidden_filter 里面，因为事件绑定的缘故，还是拿出来。
                //   $(".dataTables_filter").html("<form id='filter_form'>" + $("#hidden_filter").html() + "</form>");
                //},

                "aoColumnDefs": [
                    {
                        //DataTables warning : Requested unknown parameter '1' from the data source for row 0
                        //加上这段定义就不出错了。
                        sDefaultContent: '',
                        aTargets: ['_all']
                    }
                ]
            });

            //2.0 草稿和正常状态的文章 ：软删除<a id='delarticle'>标签注册删除事件
            $('#archives-table').on('click', '#delarticle', function (e) {
                //异步软删除
                e.preventDefault();

                var curelement = $(this);  //ajax 闭包
                var id = curelement.attr('target-id');

                $.post("/Admin/AdminArchives/DeleteArchive/" + id, function (data) {
                    if (data == 1) {
                        layer.alert('禁用成功', {
                            time: 2000
                        });
                        //重新加载本页数据
                        $('#archives-table').dataTable().fnDraw(false);
                    } else if (data) {
                        layer.alert('禁用失败', 8);
                    }
                });
            });

            //3.0 为发布<a id='publicarticle'>标签注册发布事件
            $('#archives-table').on('click', '#publicarticle', function (e) {
                //异步发布
                e.preventDefault();

                var curElement = $(this);
                var id = curElement.attr('target-id');

                $.post("/Admin/AdminArchives/PublicArchive/" + id, function (data) {
                    if (data == 1) {
                        layer.alert('发布成功', {
                            time: 2000
                        });
                        //重新加载本页数据
                        $('#archives-table').dataTable().fnDraw(false);
                    } else if (data) {
                        layer.alert('发布失败', 8);
                    }
                });
            });

            //4.0 真删
            $('#archives-table').on('click', '#realdelarticle', function (e) {
                //异步删除(级联删除)
                e.preventDefault();

                var curElement = $(this);
                var id = curElement.attr('target-id');

                //先弹出一个confirm对话框，再发起删除指令

                layer.confirm("此删除操作不可逆，确定删除?", {
                    btn: ['确定', '取消']
                }, function () {
                    $.post("/Admin/AdminArchives/RealDelArchive/" + id, function (data) {
                        if (data == "1") {
                            layer.alert('删除成功', {
                                time: 2000
                            });
                            //重新加载本页数据
                            $('#archives-table').dataTable().fnDraw(false);
                        } else if (data) {
                            layer.alert('删除失败', 8);
                        }
                    });
                }, function () {
                    //关闭
                });


            });

            //4.0 去写博客
            $('#addblog').click(function () {
                window.location.href = '/Admin/AdminArchives/AddArchive';
            });
        });
    </script>
}

@*加载主区域*@
<div id="content-header">
    <div id="breadcrumb">
        <a href="@Url.RouteUrl("Admin_default",new{controller="AdminHome",action="Index"})" title="Go to Home" class="tip-bottom">
            <i class="icon-home"></i> Home
        </a>
        <a href="#" class="current">博客列表</a>
    </div>
</div>
<button id="addblog" class="btn btn-info newbuild">去写博客</button>
<div class="container-fluid">
    <div class="row-fluid" id="wraplist">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>文章列表</h5>

                </div>
                <div class="widget-content nopadding">
                    <table id="archives-table" class="table table-bordered data-table mydatatable">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>标题</th>
                                <th>所属类别</th>
                                <th>浏览量</th>
                                <th>评论量</th>
                                <th>点赞量</th>
                                <th>状态</th>
                                <th>操作</th>
                                <th>操作</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



