@using ZYN.BLOG.ViewModel;
@model List<CommentViewModel>


@if (this.Model != null && this.Model.Count != 0)
{
    <aside id="zyn_latest_comments-2">
        <div class="panel panel-zyn hidden-xs">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-tree-deciduous newicon"></span> 雁过留声
                <span class="panel-remove glyphicon glyphicon-remove-circle"></span>
                <span class="panel-toggle glyphicon glyphicon-upload"></span>
            </div>
            <ul class="list-group list-group-flush">
                @foreach (CommentViewModel item in this.Model)
                {
                    <li class="list-group-item">
                        <span class="author-avatar">
                            <img  data-url="@Url.Content(item.CmtIconUrl)" class="avatar avatar-40 photo" height="40" width="40">
                        </span>
                        <span class="comment-log">
                            <a href="/Archives/Index/@item.CmtArtId#comments-title">
                                @item.CmtText
                            </a>
                        </span>
                    </li>
                }

            </ul>
        </div>
    </aside>

}

