
<aside id="tag_cloud">
    <div class="panel panel-zyn hidden-xs">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-cloud newicon"></span> 上上签儿
        </div>
        <div id="tagbox">
            <a href="#" title="4个话题" style="color:#f76b70;font-size: 12.897959183673pt;">ASP.NET MVC</a>
            <a href="#" title="18个话题" style="color:#eab035;font-size: 20pt;">Zynblog</a>
            <a href="#" title="1个话题" style="color:#0094ff;font-size: 14pt;">非典型程序猿</a>
            <a href="#" title="2个话题" style="color:#be5bc1;font-size: 10.204081632653pt;">C#</a>
            <a href="#" title="4个话题" style="color:#f76b70;font-size: 12.897959183673pt;">javascript</a>
            <a href="#" title="2个话题" style="color:#be5bc1;font-size: 10.204081632653pt;">jQuery</a>
            <a href="#" title="1个话题" style="color:#0094ff;font-size: 14pt;">设计模式</a>
            <a href="#" title="1个话题" style="color:#23f0c9;font-size: 8pt;">Python</a>
            <a href="#" title="2个话题" style="color:#be5bc1;font-size: 10.204081632653pt;">Bootstrap</a>
            <a href="#" title="3个话题" style="color:#cba879;font-size: 11.673469387755pt;">Java</a>
            <a href="#" title="18个话题" style="color:#eab035;font-size: 20pt;">机器学习</a>
            <a href="#" title="1个话题" style="color:#0094ff;font-size: 14pt;">非著名程序员</a>
            <a href="#" title="1个话题" style="color:#23f0c9;font-size: 8pt;">数据挖掘</a>
            <a href="#" title="3个话题" style="color:#cba879;font-size: 11.673469387755pt;">分布式</a>
            <a href="#" title="1个话题" style="color:#23f0c9;font-size: 8pt;">C/C++</a>
            <a href="#" title="3个话题" style="color:#cba879;font-size: 11.673469387755pt;">前端</a>
            <a href="#" title="2个话题" style="color:#be5bc1;font-size: 10.204081632653pt;">推荐系统</a>
            <a href="#" title="4个话题" style="color:#f76b70;font-size: 12.897959183673pt;">大数据</a>
            <a href="#" title="18个话题" style="color:#eab035;font-size: 20pt;">Zynblog</a>
            <a href="#" title="1个话题" style="color:#0094ff;font-size: 14pt;">数据分析</a>
            <a href="#" title="1个话题" style="color:#23f0c9;font-size: 8pt;">复杂网络</a>
            <a href="#" title="3个话题" style="color:#cba879;font-size: 11.673469387755pt;">舆情分析</a>
        </div>
    </div>
</aside>